<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12 text-right">
        <button data-bind="click: logout"class="btn btn-warning logout">Logout</button>
      </div>
    </div>
    <h2 class="text-center">Shows</h2>
    <h4 data-bind="if: shows().length > 0"class="text-center">Eventos do Maior São João do Mundo</h4>
    <h4 data-bind="if: shows().length === 0"class="text-center">Não há eventos cadastrados no momento.</h4>
    <hr>
  </div>
  <br>
  <div class="row">
    <div class="col-md-1"></div>
    <div data-bind="if: shows().length > 0 || search" class="col-md-4">
      <form>
        <div class="input-group add-on">
          <input type="text" class="form-control" id="search" placeholder="Filtrar eventos">
          <div class="input-group-btn">
            <button data-bind="click: filterShows, clickBubble: false" type="button" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-2 text-right">
      <button data-bind="click: addShow"class="btn btn-primary">Adicionar Evento</button>
    </div>
  </div>
  <br>
  <br>
  <div data-bind="if: shows().length > 0" class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 text-center">
      <div class="row overflow">
        <div class="col-md-12">
          <table class="table table-stripped table-holder">
            <thead>
              <tr>
                <th class="text-center">Data</th>
                <th class="text-center">Nome</th>
                <th class="text-center">Youtube Link</th>
                <th class="text-center">Imagem Artista</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody data-bind="foreach: shows">
              <tr>
                <td data-bind="text: moment( date, 'YYYY-MM-DD' ).format( 'DD/MM/YYYY' )"></td>
                <td data-bind="text: name"></td>
                <td><a target="_blank" data-bind="attr: { href: videoUrl }">Link</a></td>
                <td><a target="_blank" data-bind="attr: { href: imgUrl }">Link</a></td>
                <td class="text-center">
                  <button data-bind="click: $parent.showSelectedShow"class="btn btn-primary btn-xs">
                    <span class="glyphicon glyphicon-edit"></span>
                  </button>
                  <button data-bind="click: $parent.removeShow" class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <br>
      <br>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
<!-- Modal -->
<div data-bind="with: editShow" class="modal fade" id="showModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><!-- ko text: name ? 'Editing Show ' + name : 'New Show' --><!--/ko--></h4>
      </div>
      <div class="modal-body">
        <div data-bind="visible: !$parent.addOrEditFilled()"class="row text-left">
          <div class="alert alert-danger">
            <strong>Erro!</strong> <span>Todos os campos devem ser preenchidos</span>
          </div>
        </div>
        <form>
          <div class="form-group modal-form" method="PUT">
            <div class="form-group text-left">
              <label for="date">Data do Show</label>
              <input data-bind="value: date" id="date" type="date" placeholder="Data..." required class="form-control">
            </div>
            <div class="form-group text-left">
              <label for="name">Nome do Artista/Banda</label>
              <input data-bind="value: name" id="name" type="text" placeholder="Nome..." required class="form-control">
            </div>
            <div class="form-group text-left">
              <label for="videoUrl">Link de um show do Artista/Banda</label>
              <input data-bind="value: videoUrl" id="videoUrl" type="text" placeholder="Link Youtube..." required class="form-control">
            </div>
            <div class="form-group text-left">
              <label for="imgUrl">Link de uma image do Artista/Banda</label>
              <input data-bind="value: imgUrl" id="imgUrl" type="text" placeholder="Link Imagem..." required class="form-control">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button data-bind="click: $parent.editShowSubmit, clickBubble: false" type="button" class="btn btn-success">Salvar e Fechar</button>
        <button data-bind="click: $parent.cancelAction, clickBubble: false" type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
    
  </div>
</div>