body {
    max-width: 100%;
    background: #d3d3d3;
    height: 100%;
}

h2 {
    color: #daf236;
}

h4 {
    color: #e5e2e2;
}

label {
    color: #e5e2e2
}

.add-on .input-group-btn > .btn {
  border-left-width:0;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* stop the glowing blue shadow */
.add-on .form-control:focus {
 box-shadow:none;
 -webkit-box-shadow:none; 
 border-color:#cccccc; 
}

.table-holder {
    background-color:#cccccc;
    border-radius: 8px;
}

.overflow {
    max-height: 400px;
    overflow: auto;
}

.focused {
    border-radius: 5px;
    background-color: #555555;
    min-height: 420px;
}

.centered {
    display: flex;
    align-items: center;
    min-height: 75vh;
}

.logout {
    margin-top: 10px;
}